<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>CarPool Viaja como pasajero</title>
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/stylee.css">
      <link rel="stylesheet" href="css/responsive.css">
   </head>
   <body class="main-layout home_page">
      <header>
         <div class="header">
            <div class="container">
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                     <div class="full">
                     </div>
                  </div>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                     <div class="menu-area">
                        <div class="limit-box">
                           <nav class="main-menu">
                              <ul class="menu-area-main">
                                 <li class="active"> <a href="inicio.html">Home</a> </li>
                                 <li class="mean-last"> <a href="#"><img src="images/top-icon.png" alt="#" /></a> </li>
                              </ul>
                           </nav>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
        </header>
            <section>
              <div class="container" id="viajeform">
                 <h2>Pedir viaje</h2>
                 <form>
                    <div class="form-group">
                        <label for="origen">Ingresa tu direccion de origen</label>
                        <input type="text" class="form-control" placeholder="Origen" id="origen">
                    </div>
                    <div class="form-group">
                        <label for="destino">Ingresa tu direccion de destino</label>
                        <input type="text" class="form-control" placeholder="Destino" id="destino">
                    </div>
                    <div class="clearfix"></div>
                    <button type="submit" class="btn btn-info btn-lg btn-responsive" id="viaje"> <span class="glyphicon glyphicon-search"></span> A viajar</button>
                 </form>
             </div>
            </section>
        </header>
     </body>
</html>