body{
    background:#DCDCDC;

}
.card-box {
    padding: 20px;
    border-radius: 3px;
    background-color: #fff;
}
.thumb-lg {
    height: 130px;
    width: 130px;
}
.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}
.text-pink {
    color: #ff679b!important;
}
.btn-rounded {
    border-radius: 2em;
}
.text-muted {
    color: #98a6ad!important;
}
h4 {
    line-height: 22px;
    font-size: 18px;
}

.img-medals{
    height: 6rem;
}