header.masthead {
    position: relative;
    background-color: #343a40;
    background: url("../img/bg-masthead.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }