/* This was included in version 0.5 and is for driver data. */

.form-control2 {
    border-radius: 25px;
    justify-content: center;
    position: center;
    display: inline-block;
    align-items: center;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.form-check-label{
    justify-content: center;
    position: center;
    display: inline-block;
    align-items: center;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}


/* This is for the layout of the login pop-up */

.overlay{
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    visibility: hidden;
}

.overlay.active {
    visibility: visible;
}

.popup {
    background: #f8f8f8;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    font-family: "Montserrat", sans-serif;
    padding: 20px;
    text-align: center;
    width: 600px;
    border-radius: 25px;
    transition: 0.3s ease all;
    transform: scale(0.7);
    opacity: 0;
}

.btn-abrir-popup {
    border-radius: 25px;
}

.btn-block {
    border-radius: 25px;
}

.popup .btn-cerrar-popup {
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    transition: 0.3s ease all;
    color: #bbbbbb;
}

.popup .btn-cerrar-popup:hover {
    color: #000;
}

.popup h3 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    opacity: 0;
}

.popup h4 {
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 40px;
    opacity: 0;
}

.popup form .contenedor-inputs {
    opacity: 0;
}

.popup form .contenedor-inputs input {
    width: 100%;
    margin-bottom: 20px;
    height: 52px;
    font-size: 18px;
    line-height: 52px;
    text-align: center;
    border: 1px solid #bbbbbb;
    border-radius: 25px;
}

.popup form .btn-submit {
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    background: #5e7de3;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease all;
    border-radius: 25px;
}

.btn-primary{
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    background: #5e7de3;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease all;
    border-radius: 25px;
}

.popup form .btn-submit:hover {
    background: rgba(94, 125, 227, 0.9);
}

.popup.active {
    transform: scale(1);
    opacity: 1;
}
.popup.active h3 {
    animation: entradaTitulo 0.8s ease 0.5s forwards;
}
.popup.active h4 {
    animation: entradaSubtitulo 0.8s ease 0.5s forwards;
}
.popup.active .contenedor-inputs {
    animation: entradaInputs 1s linear 1s forwards;
}

@keyframes entradaTitulo {
    from {
        opacity: 0;
        transform: translateY(-25px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaSubtitulo {
    from {
        opacity: 0;
        transform: translateY(25px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaInputs {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Yeah, up to here */
