input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.check-btn{
    padding-right: 30px;
}

.form-control2{
    justify-content: center;
    position: center;
    display: inline-block;
    align-items: center;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.0;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.form-check-label{
    justify-content: center;
    position: center;
    display: inline-block;
    align-items: center;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}