nav.main-menu {
    float: right;
    margin-left: 0;
}


ul.top_icon {
    float: right;
    padding-top: 17px;
}
ul.top_icon li {
    float: left;
    
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 20px;
}

ul.top_icon li:last-child { padding-right: 0px; }

ul.top_icon li a{ color: #fff; 
}
.header {
    padding: 15px 0px;
    position: absolute;
    z-index: 999;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #111;
}
.home_page .header {
    background: rgba(0,0,0,0.4);
}
.main_bt {
    background: transparent;
   color: rgb(15, 6, 155);
   padding: 15px 60px 15px 60px;
   float: left;
   font-size: 15px;
   font-weight: 400;
   border: solid #fff 2px;
   border-radius: 30px;
   margin: 63px 0px 60px 0px;
}
a.Pasajero_bt {
    color: rgb(6, 18, 180);
    font-weight: 300;
    text-decoration: underline !important;
}
a.Conductor_bt {
    color: rgb(6, 18, 180);
    font-weight: 300;
    text-decoration: underline !important;
}
.main_bt:hover, .main_bt:focus {
    background: rgb(216, 219, 255);
   border: solid rgb(216, 219, 255) 2px;
   color: rgb(15, 6, 155);}

#viajeform.form-group{
	margin-bottom: 20px;
    margin-left:20px;
	width: 30%;
    float:left;
    text-align: left;
}
#viaje.form-control{
    padding: 12px 20px;
    height: auto;
    border-radius: 2px;
}
#map {
    height: 100%;
    min-height: 480px;
}
